{% extends 'base.html' %}
{% block head_content %}
  <script src="/static/add_armor.js"></script>
  <script src="/static/expand_detail.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row m-2 justify-content-md-center">
      <div class="col-auto">
        <button class="btn btn-outline-dark toggle-armor-form-button m-4">
          Add Armor
        </button>
      </div>
    </div>



    <form id="armor-form-container" class="create-form-container" hidden action="/armor/new" method="POST">
      {{ form.hidden_tag() }}

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.slug.label }}
            </div>
            <div class="col-auto">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">/armor/</span>
                </div>
                {{ form.slug(class="form-control") }}
                {% for error in form.slug.errors %}
                  <span class="text-danger">
                    {{error}}
                  </span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.name.label }}
            </div>
            <div class="col-auto">
              {{ form.name(class="form-control") }}
              {% for error in form.name.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.category.label }}
            </div>
            <div class="col-auto">
              {{ form.category(class="form-control") }}
              {% for error in form.category.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.ac_base.label }}
            </div>
            <div class="col-auto">
              {{ form.ac_base(class="form-control") }}
              {% for error in form.ac_base.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <hr/>
      
      <h5>Modifier Attributes</h5>
      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_strength(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_strength.label }}
              {% for error in form.modifier_strength.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_dexterity(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_dexterity.label }}
              {% for error in form.modifier_dexterity.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_constitution(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_constitution.label }}
              {% for error in form.modifier_constitution.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_wisdom(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_wisdom.label }}
              {% for error in form.modifier_wisdom.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_intelligence(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_intelligence.label }}
              {% for error in form.modifier_intelligence.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {{ form.modifier_charisma(class="form-control")}}
            </div>
            <div class="col-auto">
              {{ form.modifier_charisma.label }}
              {% for error in form.modifier_charisma.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.max_modifier.label }}
            </div>
            <div class="col-auto">
              {{ form.max_modifier(class="form-control")}}
              {% for error in form.max_modifier.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.strength_required.label }}
            </div>
            <div class="col-auto">
              {{ form.strength_required(class="form-control")}}
              {% for error in form.strength_required.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.cost_in_gp.label }}
            </div>
            <div class="col-auto">
              {{ form.cost_in_gp(class="form-control")}}
              {% for error in form.cost_in_gp.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.weight.label }}
            </div>
            <div class="col-auto">
              {{ form.weight(class="form-control")}}
              {% for error in form.weight.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.stealth_disadvantage.label }}
            </div>
            <div class="col-auto">
              {{ form.stealth_disadvantage(class="form-control")}}
              {% for error in form.stealth_disadvantage.errors %}
                <span class="text-danger">
                  {{error}}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-outline-dark" type="Submit">Create Armor!</button>
    </form>



    <h1>Armor - All</h1>
    {% for armor in armors %}
      <div class="container list-item">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>{{ armor['name'] }}</h3>
          </div>
          <div class="col-auto">
            <a href="/armor/{{armor.slug}}">Page</a>
            <button class="toggle-expanded-view-button">Expand</button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            {% if armor['author_user_id'] %}
              Homebrew By {{ armor.author.username }}
            {% else %}
              Official Content
            {% endif %}
          </div>
        </div>

        <div class="expanded-detail" hidden>
          <div class="row justify-content-between">
            <div class="col-auto">
              Category: {{armor.category}}
            </div>
            <div class="col-auto">
              AC: {{armor.ac_string}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-auto">
              Strength Required: {{armor.strength_requirement}}
            </div>
            <div class="col-auto">
              Cost: {{armor['cost']}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-auto">
              Weight: {{armor.weight}}
            </div>        
            <div class="col-auto">
              Stealth Disadvantage: {{armor.stealth_disadvantage}}
            </div>          
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
