{% extends 'base.jinja' %}
{% block head_content %}
  <script src="/static/add_player_class.js"></script>
  <script src="/static/expand_detail.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row m-2 justify-content-md-center">
      <div class="col-auto">
        {% if g.user %}
          <button class="btn btn-outline-dark toggle-player-class-form-button m-4">
            Add Class
          </button>
        {% endif %}
      </div>
    </div>

    <form id="player-class-form-container" class="create-form-container" hidden action="/classes/new" method="POST">
      {{ form.hidden_tag() }}

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.slug.label }}
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">/classes/</span>
                </div>
                {{ form.slug(class="form-control") }}
              </div>
              {% for error in form.slug.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.name.label }}
            </div>
            <div class="col">
              {{ form.name(class="form-control") }}
              {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.hit_die.label }}
            </div>
            <div class="col">
              {{ form.hit_die(class="form-control") }}
              {% for error in form.hit_die.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.base_hp_at_1st_level.label }}
            </div>
            <div class="col">
              {{ form.base_hp_at_1st_level(class="form-control") }}
              {% for error in form.base_hp_at_1st_level.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.starting_equipment.label }}
            </div>
            <div class="col">
              {{ form.starting_equipment(class="form-control") }}
              {% for error in form.starting_equipment.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.spellcasting_ability.label }}
            </div>
            <div class="col">
              {{ form.spellcasting_ability(class="form-control") }}
              {% for error in form.spellcasting_ability.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
        
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.subtypes_name.label }}
            </div>
            <div class="col">
              {{ form.subtypes_name(class="form-control") }}
              {% for error in form.subtypes_name.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      
      <h5>Proficiencies</h5>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.tool_proficiency.label }}
            </div>
            <div class="col">
              {{ form.tool_proficiency(class="form-control") }}
              {% for error in form.tool_proficiency.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.skill_proficiency.label }}
            </div>
            <div class="col">
              {{ form.skill_proficiency(class="form-control") }}
              {% for error in form.skill_proficiency.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.prof_weapons.label }}
            </div>
            <div class="col">
              {{ form.prof_weapons(class="form-control") }}
              {% for error in form.prof_weapons.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      
      <h5>Armor Proficiencies</h5>
    
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_none.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_none(class="form-control") }}
              {% for error in form.armor_proficiency_none.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_light.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_light(class="form-control") }}
              {% for error in form.armor_proficiency_light.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
          
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_medium.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_medium(class="form-control") }}
              {% for error in form.armor_proficiency_medium.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_heavy.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_heavy(class="form-control") }}
              {% for error in form.armor_proficiency_heavy.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
       
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_spell.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_spell(class="form-control") }}
              {% for error in form.armor_proficiency_spell.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_class_feature.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_class_feature(class="form-control") }}
              {% for error in form.armor_proficiency_class_feature.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.armor_proficiency_shield.label }}
            </div>
            <div class="col">
              {{ form.armor_proficiency_shield(class="form-control") }}
              {% for error in form.armor_proficiency_shield.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      
      <h5>Saving Throws</h5>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_str.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_str(class="form-control") }}
              {% for error in form.saving_throw_str.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_dex.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_dex(class="form-control") }}
              {% for error in form.saving_throw_dex.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
       
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_con.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_con(class="form-control") }}
              {% for error in form.saving_throw_con.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_wis.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_wis(class="form-control") }}
              {% for error in form.saving_throw_wis.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_int.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_int(class="form-control") }}
              {% for error in form.saving_throw_int.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.saving_throw_cha.label }}
            </div>
            <div class="col">
              {{ form.saving_throw_cha(class="form-control") }}
              {% for error in form.saving_throw_cha.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {{form.description.label}}
      {{form.description(class="form-control")}}
      {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      
      {{form.table.label}}
      {{form.table(class="form-control")}}
      {% for error in form.table.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      
      <div class="row m-2 justify-content-center">
        <button class="btn btn-outline-dark" type="Submit">
          Create Class!
        </button>
      </div>
    </form>

    <h1>Classes - All</h1>
    {% for pc in player_classes %}
      <div class="container list-item">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>{{ pc['name'] }}</h3>
          </div>
          <div class="col-auto">
            <a href="/classes/{{pc.slug}}">Page</a>
            <button class="toggle-expanded-view-button btn btn-outline-dark m-1">Expand</button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            {% if pc['author_user_id'] %}
              Homebrew By {{ pc.author.username }}
            {% else %}
              Official Content
            {% endif %}
          </div>
        </div>

        <div class="expanded-detail" hidden>
          <div class="row justify-content-between">
            <div class="col">
              Starting HP: {{pc.hp_at_1st_level}}
            </div>
            <div class="col">
              Hit Die: {{pc.hit_dice}}
            </div>
          </div>
          <hr/>
          <h5>Proficiencies</h5>
          <div class="row justify-content-between">
            <div class="col">
              Armor: {{pc.prof_armor}}
            </div>
            <div class="col">
              Weapons: {{pc.prof_weapons}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              Skills: {{pc.prof_skills | default("N/A")}}
            </div>
            <div class="col">
              Tools: {{pc.prof_tools | default("N/A")}}
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Starting Equipment: {{pc.equipment}}
            </div>
            <div class="col">
              Subtypes Name: {{pc.subtypes_name}}                    
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Saving Throws: {{pc.prof_saving_throws}}
            </div>
            <div class="col">
              Spellcasting Ability: {{pc.spellcasting_ability | default("N/A")}}
            </div>
          </div>

          <hr/>
          <h5>Description</h5>
          <div class="row justify-content-between">
            <div class="col">
              {{ markdown.markdown(pc.desc)}}
            </div>
          </div>
          <hr/>
          <h5>Table</h5>
          <div class="row justify-content-between">
            <div class="col">
              {%+ for line in pc.table.split("\n") +%}
                {{ line | replace(" ", "&nbsp;")}}
                <br/>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
