{% extends 'base.jinja' %}
{% block content %}
  <a href="/armor"><button>Armor</button></a>
  <a href="/weapons"><button>Weapons</button></a>
  <a href="/spells"><button>Spells</button></a>
  <a href="/classes"><button>Classes</button></a>
{% endblock %}
