{% extends 'base.jinja' %}
{% block content %}
  <div class="container-sm text-center p-3">
    <h1>Dragon's Hoard</h1>
    <h5>A Repository for Official and Homebrew DnD 5e Content</h5>
    <div class="container-sm text-center p-4">
      <form action="/login" method="POST">
        {{ form.hidden_tag() }}
        
        {% for field in form %}
          
          {% if field.widget.input_type != 'hidden' %}
            <div class="row justify-content-around">
              <div class="col-auto">
                {{ field.label }}
              </div>
              <div class="col-auto">
                <div class="row">
                  {{ field }}
                </div>
                <div class="row">
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>

            </div>
          {% endif %}
        
        {% endfor %}

        <button class="btn btn-outline-dark m-4">Log In</button>

      </form>
    </div>

    <div class="container p-4">
      <a href="/signup">
        <button class="btn btn-lg btn-outline-dark">Sign Up</button>
      </a>
    </div>
  </div>
{% endblock %}