{% extends 'base.jinja' %}
{% block head_content %}
  <script src="/static/add_spell.js"></script>
  <script src="/static/expand_detail.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row m-2 justify-content-md-center">
      <div class="col-auto">
        <button class="btn btn-outline-dark toggle-spell-form-button m-4">Add Spell</button>
      </div>
    </div>



    <form id="spell-form-container" class="create-form-container" hidden action="/spells/new" method="POST">

      <h2>Create Spell</h2>
      
      {{ form.hidden_tag() }}

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.slug.label }}
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">/spells/</span>
                </div>
                {{ form.slug(class="form-control") }}
              </div>
              {% for error in form.slug.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.name.label }}
            </div>
            <div class="col">
              {{ form.name(class="form-control") }}
              {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.level.label }}
            </div>
            <div class="col">
              {{ form.level(class="form-control") }}
              {% for error in form.level.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.spell_range.label }}
            </div>
            <div class="col">
              {{ form.spell_range(class="form-control") }}
              {% for error in form.spell_range.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.ritual.label }}
            </div>
            <div class="col">
              {{ form.ritual(class="form-control") }}
              {% for error in form.ritual.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.concentration.label }}
            </div>
            <div class="col">
              {{ form.concentration(class="form-control") }}
              {% for error in form.concentration.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.duration.label }}
            </div>
            <div class="col">
              {{ form.duration(class="form-control") }}
              {% for error in form.duration.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.casting_time.label }}
            </div>
            <div class="col">
              {{ form.casting_time(class="form-control") }}
              {% for error in form.casting_time.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.page.label }}
            </div>
            <div class="col">
              {{ form.page(class="form-control") }}
              {% for error in form.page.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.material.label }}
            </div>
            <div class="col">
              {{ form.material(class="form-control") }}
              {% for error in form.material.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.spell_component_v.label }}
            </div>
            <div class="col">
              {{ form.spell_component_v(class="form-control") }}
              {% for error in form.spell_component_v.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.spell_component_s.label }}
            </div>
            <div class="col">
              {{ form.spell_component_s(class="form-control") }}
              {% for error in form.spell_component_s.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.spell_component_m.label }}
            </div>
            <div class="col">
              {{ form.spell_component_m(class="form-control") }}
              {% for error in form.spell_component_m.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.magic_school.label }}
            </div>
            <div class="col">
              {{ form.magic_school(class="form-control") }}
              {% for error in form.magic_school.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.circles.label }}
            </div>
            <div class="col">
              {{ form.circles(class="form-control") }}
              {% for error in form.circles.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {{form.description.label}}
      {{form.description(class="form-control")}}
      {% for error in form.description.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}

      {{form.higher_level.label}}
      {{form.higher_level(class="form-control")}}
      {% for error in form.higher_level.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}


      <div class="row m-2 justify-content-center">
        <button class="btn btn-outline-dark" type="Submit">
          Create Spell!
        </button>
      </div>
    </form>

    <h1>Spells - All</h1>
    {% for spell in spells %}
      <div class="container list-item">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>{{ spell['name'] }}</h3>
          </div>
          <div class="col-auto">
            <a href="/spells/{{spell.slug}}">Page</a>
            <button class="toggle-expanded-view-button">Expand</button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            {% if spell['author_user_id'] %}
              Homebrew By {{ spell.author.username }}
            {% else %}
              Official Content
            {% endif %}
          </div>
        </div>

        <div class="expanded-detail" hidden>
          <div class="row justify-content-between">
            <div class="col">
              {{spell.level}}
            </div>
            <div class="col">
              Components: {{spell.components}}
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Range: {{spell.spell_range if spell.spell_range else "N/A"}}
            </div>        
            <div class="col">
              Material: {{spell.material}}
            </div>          
          </div>
      
          <div class="row justify-content-between">
            <div class="col">
              Concentration: {{spell.concentration}}
            </div>        
            <div class="col">
              Ritual: {{spell.ritual}}
            </div>          
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Casting Time: {{spell.casting_time}}
            </div>        
            <div class="col">
              Duration: {{spell.duration}}
            </div>          
          </div>

          <div class="row justify-content-between">
            {% if spell.page %}
              <div class="col">
                  Page: {{spell.page}}
              </div>        
            {% endif %}
            {% if spell.circles %}
              <div class="col">
                Circles: {{spell.circles}}
              </div>          
            {% endif %}
          </div>

          <hr/>
          <div class="row justify-content-between">
            <div class="col-auto">
              <h5>Description</h5>
              {{spell.desc}}
            </div>
          </div>
          <hr/>
          <div class="row justify-content-between">
            <div class="col-auto">
              <h5>At Higher Levels</h5>
              {{spell.higher_level}}
            </div>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
