{% extends 'base.html' %}
{% block head_content %}
  <script src="/static/add_spell.js"></script>
  <script src="/static/expand_detail.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-auto">
        <button class="btn btn-outline-dark toggle-spell-form-button">Add Spell</button>
      </div>
    </div>



    <form id="spell-form-container" hidden action="/spells/new" method="POST">
      {{ form.hidden_tag() }}

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.slug.label }}
            </div>
            <div class="col-auto">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">/armor/</span>
                </div>
                {{ form.slug(class="form-control") }}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {{ form.name.label }}
            </div>
            <div class="col-auto">
              {{ form.name(class="form-control") }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.category.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.category(class="form-control") }} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.ac_base.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.ac_base(class="form-control") }} #}
            </div>
          </div>
        </div>
      </div>

      <hr/>
      
      <h5>Modifier Attributes</h5>
      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_strength(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_strength.label }} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_dexterity(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_dexterity.label }} #}
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_constitution(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_constitution.label }} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_wisdom(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_wisdom.label }} #}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_intelligence(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_intelligence.label }} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex justify-content-start">
            <div class="col-auto">
              {# {{ form.modifier_charisma(class="form-control")}} #}
            </div>
            <div class="col-auto">
              {# {{ form.modifier_charisma.label }} #}
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.max_modifier.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.max_modifier(class="form-control")}} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.strength_required.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.strength_required(class="form-control")}} #}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.cost_in_gp.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.cost_in_gp(class="form-control")}} #}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.weight.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.weight(class="form-control")}} #}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              {# {{ form.stealth_disadvantage.label }} #}
            </div>
            <div class="col-auto">
              {# {{ form.stealth_disadvantage(class="form-control")}} #}
            </div>
          </div>
        </div>
      </div>

      <!-- {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
          <div class="row">
            <div class="col-auto">
              {{ field.label }}
            </div>
            <div class="col-auto">
              {{ field }}
            </div>
          </div>
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
        {% endif %}
      {% endfor %} -->
      <button class="btn btn-outline-dark" type="Submit">Create Spell!</button>
    </form>

    <h1>Spells - All</h1>
    {% for spell in spells %}
      <div class="container list-item">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>{{ spell['name'] }}</h3>
          </div>
          <div class="col-auto">
            <a href="/spells/{{spell.slug}}">Page</a>
            <button class="toggle-expanded-view-button">Expand</button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            {% if spell['author_user_id'] %}
              Homebrew By {{ spell.author.username }}
            {% else %}
              Official Content
            {% endif %}
          </div>
        </div>

        <div class="expanded-detail" hidden>
          <div class="row justify-content-between">
            <div class="col">
              {{spell.level}}
            </div>
            <div class="col">
              Components: {{spell.components}}
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Range: {{spell.spell_range if spell.spell_range else "N/A"}}
            </div>        
            <div class="col">
              Material: {{spell.material}}
            </div>          
          </div>
      
          <div class="row justify-content-between">
            <div class="col">
              Concentration: {{spell.concentration}}
            </div>        
            <div class="col">
              Ritual: {{spell.ritual}}
            </div>          
          </div>

          <div class="row justify-content-between">
            <div class="col">
              Casting Time: {{spell.casting_time}}
            </div>        
            <div class="col">
              Duration: {{spell.duration}}
            </div>          
          </div>

          <div class="row justify-content-between">
            {% if spell.page %}
              <div class="col">
                  Page: {{spell.page}}
              </div>        
            {% endif %}
            {% if spell.circles %}
              <div class="col">
                Circles: {{spell.circles}}
              </div>          
            {% endif %}
          </div>

          <hr/>
          <div class="row justify-content-between">
            <div class="col-auto">
              <h5>Description</h5>
              {{spell.desc}}
            </div>
          </div>
          <hr/>
          <div class="row justify-content-between">
            <div class="col-auto">
              <h5>At Higher Levels</h5>
              {{spell.higher_level}}
            </div>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
