{% extends 'base.jinja' %}
{% block head_content %}
  <script src="/static/add_comment.js"></script>
{% endblock %}
{% block content %}
  {% if spell %}
    <div class="container list-item">
      <h1>{{spell['name']}}</h1>
      {% if spell.author_user_id %}
        Homebrew by {{author.username}}
      {% else %}
        <div class="row">
          <div class="col-auto">
            Source: <a href="{{spell.document__slug}}">{{spell.document__title}}</a>
          </div>
          <div class="col-auto">
            Legal: <a href="{{spell.document__license_url}}"> {{spell.document__license_url}} </a>
          </div>
        </div>
      {% endif %}
      <hr/>

      <div class="row justify-content-between">
        <div class="col">
          {{spell.level}}
        </div>
        <div class="col">
          Components: {{spell.components}}
        </div>
      </div>
      

      <div class="row justify-content-between">
        <div class="col">
          Range: {{spell.spell_range if spell.spell_range else "N/A"}}
        </div>        
        <div class="col">
          Material: {{spell.material}}
        </div>          
      </div>
      
      <div class="row justify-content-between">
        <div class="col">
          Concentration: {{spell.concentration}}
        </div>        
        <div class="col">
          Ritual: {{spell.ritual}}
        </div>          
      </div>

      <div class="row justify-content-between">
        <div class="col">
          Casting Time: {{spell.casting_time}}
        </div>        
        <div class="col">
          Duration: {{spell.duration}}
        </div>          
      </div>

      <div class="row justify-content-between">
        {% if spell.page %}
          <div class="col">
              Page: {{spell.page}}
          </div>        
        {% endif %}
        {% if spell.circles %}
          <div class="col">
              Circles: {{spell.circles}}
          </div>          
        {% endif %}
      </div>

      <hr/>
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5>Description</h5>
          {{spell.desc}}
        </div>
      </div>
      <hr/>
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5>At Higher Levels</h5>
          {{spell.higher_level}}
        </div>
      </div>

    </div>

    {% include 'comment_button.jinja' %}

    {% if comments %}
      <h1>Comments</h1>
        <div class="container comment-container">
          {% for comment in comments %}
            {% include 'rendered_comment.jinja' %}
          {% endfor %}
        </div>
        
    {% else %}
      <h1>No Comments</h1>
    {% endif %}

  {% else %}
    <h1>Spell not found</h1>
  {% endif %}

      


{% endblock %}