{% extends 'base.html' %}
{% block head_content %}
  <script src="/static/add_weapon.js"></script>
  <script src="/static/expand_detail.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-auto">
        <button class="btn btn-outline-dark toggle-weapon-form-button m-4">
          Add Weapon
        </button>
      </div>
    </div>


 
    <form id="weapon-form-container" class="create-form-container" hidden action="/weapons/new" method="POST">

      <h2>Create Weapon</h2>

      {{ form.hidden_tag() }}

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.slug.label }}
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">/weapons/</span>
                </div>
                {{ form.slug(class="form-control") }}
                {% for error in form.slug.errors %}
                  <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.name.label }}
            </div>
            <div class="col">
              {{ form.name(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.bonus.label }}
            </div>
            <div class="col">
              {{ form.bonus(class="form-control") }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.weapon_category.label }}
            </div>
            <div class="col">
              {{ form.weapon_category(class="form-control") }}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.cost_in_gp.label }}
            </div>
            <div class="col">
              {{ form.cost_in_gp(class="form-control") }}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col align-self-center">
              {{ form.weight.label }}
            </div>
            <div class="col">
              {{ form.weight(class="form-control") }}
            </div>
          </div>
        </div>
      </div>
      

      <hr/>
      
      <h5>Weapon Properties</h5>
      
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_finesse.label}}
            </div>
            <div class="col">
              {{form.wp_finesse(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_heavy.label}}
            </div>
            <div class="col">
              {{form.wp_heavy(class="form-control form-check")}}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_light.label}}
            </div>
            <div class="col">
              {{form.wp_light(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_loading.label}}
            </div>
            <div class="col">
              {{form.wp_loading(class="form-control form-check")}}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_reach.label}}
            </div>
            <div class="col">
              {{form.wp_reach(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_special.label}}
            </div>
            <div class="col">
              {{form.wp_special(class="form-control form-check")}}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_two_handed.label}}
            </div>
            <div class="col">
              {{form.wp_two_handed(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_ammunition.label}}
            </div>
            <div class="col">
              {{form.wp_ammunition(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.ammo_range_lower_bound.label}}
            </div>
            <div class="col">
              {{form.ammo_range_lower_bound(step=5,class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.ammo_range_upper_bound.label}}
            </div>
            <div class="col">
              {{form.ammo_range_upper_bound(step=5,class="form-control")}}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_thrown.label}}
            </div>
            <div class="col">
              {{form.wp_thrown(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.thrown_range_lower_bound.label}}
            </div>
            <div class="col">
              {{form.thrown_range_lower_bound(step=5,  class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.thrown_range_upper_bound.label}}
            </div>
            <div class="col">
              {{form.thrown_range_upper_bound(step=5, class="form-control")}}
            </div>
          </div>
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.wp_versatile.label}}
            </div>
            <div class="col">
              {{form.wp_versatile(class="form-control form-check")}}
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.versatile_dmg_dice_no.label}}
            </div>
            <div class="col">
              {{form.versatile_dmg_dice_no(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.versatile_dmg_dice_sides.label}}
            </div>
            <div class="col">
              {{form.versatile_dmg_dice_sides(step=5, class="form-control")}}
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <h5>Damage Rolls</h5>

      <h6>Roll 1</h6>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.first_weapon_damage_dice_no.label}}
            </div>
            <div class="col">
              {{form.first_weapon_damage_dice_no(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.first_weapon_damage_die_sides.label}}
            </div>
            <div class="col">
              {{form.first_weapon_damage_die_sides(class="form-control")}}
            </div>
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.first_weapon_damage_flat_damage.label}}
            </div>
            <div class="col">
              {{form.first_weapon_damage_flat_damage(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.first_weapon_damage_type.label}}
            </div>
            <div class="col">
              {{form.first_weapon_damage_type(class="form-control")}}
            </div>
          </div>
        </div>
      </div>

      <h6>Roll 2</h6>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.second_weapon_damage_dice_no.label}}
            </div>
            <div class="col">
              {{form.second_weapon_damage_dice_no(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.second_weapon_damage_die_sides.label}}
            </div>
            <div class="col">
              {{form.second_weapon_damage_die_sides(class="form-control")}}
            </div>
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.second_weapon_damage_flat_damage.label}}
            </div>
            <div class="col">
              {{form.second_weapon_damage_flat_damage(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.second_weapon_damage_type.label}}
            </div>
            <div class="col">
              {{form.second_weapon_damage_type(class="form-control")}}
            </div>
          </div>
        </div>
      </div>

      <h6>Roll 3</h6>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.third_weapon_damage_dice_no.label}}
            </div>
            <div class="col">
              {{form.third_weapon_damage_dice_no(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.third_weapon_damage_die_sides.label}}
            </div>
            <div class="col">
              {{form.third_weapon_damage_die_sides(class="form-control")}}
            </div>
          </div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.third_weapon_damage_flat_damage.label}}
            </div>
            <div class="col">
              {{form.third_weapon_damage_flat_damage(class="form-control")}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              {{form.third_weapon_damage_type.label}}
            </div>
            <div class="col">
              {{form.third_weapon_damage_type(class="form-control")}}
            </div>
          </div>
        </div>
      </div>







      <div class="row justify-content-center">
        <button class="btn btn-outline-dark" type="submit">
          Create Weapon!
        </button>
      </div>
    </form> 



    <h1>Weapons - All</h1>
    {% for weapon in weapons %}
      <div class="container list-item">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h3>{% if weapon['bonus'] %}{{weapon['bonus']}} {% endif %}{{weapon['name']}}</h3>
          </div>
          <div class="col-auto">
            <a href="/weapons/{{weapon.slug}}">Page</a>
            <button class="toggle-expanded-view-button">Expand</button>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            {% if weapon['author_user_id'] %}
              Homebrew By {{ weapon.author.username }}
            {% else %}
              Official Content
            {% endif %}
          </div>
        </div>

        <div class="expanded-detail" hidden>
          <hr/>
          <div class="row justify-content-between">
            <div class="col">
              Category: {{weapon.category}}
            </div>
            <div class="col">
              Damage: {{weapon.damage}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              Weapon Properties: 
              {{",".join(weapon.properties)}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              Weight: {{weapon.weight}}
            </div>  
            <div class="col">
              Cost: {{weapon.cost}}
            </div>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endblock %}
